In [4]:
import pandas as pd
import numpy as np
from importlib import reload
import megadescribe as md
reload(md)

In [5]:
option_a = '/home/nmatthews/7242forSettingReview.csv'
option_b = '/home/nmatthews/CADETpy3/Medicaid-GA/medicaid_ga_2016-11-22.csv'
mydf = pd.read_csv(option_a)

In [6]:
md.megadescribe(mydf)

+-----------------------+
+ Categorical Variables +
+-----------------------+

  INCREMENT_YN
1    98.9007 %
0     1.0993 %

Top 5 represent 100.0% of rows.
No rows are null

  INCREMENT_VARIANCE_YN
0             99.9708 %
1              0.0292 %

Top 5 represent 100.0% of rows.
No rows are null

  SAME_MESSAGE_YN
0      100.0000 %

Top 5 represent 100.0% of rows.
No rows are null

  LOGIC_FAULT_YN
0     100.0000 %

Top 5 represent 100.0% of rows.
No rows are null

  ORIG_UNITS_NOW_YN
0         65.2982 %
1         34.7018 %

Top 5 represent 100.0% of rows.
No rows are null

  ORIG_NOT_INCREMENT_YN
0             97.6749 %
1              2.3251 %

Top 5 represent 100.0% of rows.
No rows are null

   VOIDED_YN
0  82.3232 %
1  17.6768 %

Top 5 represent 100.0% of rows.
No rows are null

  CPT_CHANGED_YN
0      77.1573 %
1      22.8427 %

Top 5 represent 100.0% of rows.
No rows are null

  REMITTANCE_YN
1     86.1757 %
0     13.8243 %

Top 5 represent 100.0% of rows.
No rows are null

   DENIAL_YN
0  98.1224 %
1   1.8776 %

Top 5 represent 100.0% of rows.
No rows are null

  UNITS_RULE_YN
0     80.0467 %
1     19.9533 %

Top 5 represent 100.0% of rows.
No rows are null

                CLAIM
311872v7242  0.1167 %
627726v7242  0.0681 %
311865v7242  0.0681 %
536425v7242  0.0681 %
334989v7242  0.0681 %

Top 5 represent 0.4% of rows.
No rows are null

                    EARLIEST_BILLING
2014-02-05 03:24:17         0.0973 %
2016-12-06 03:00:31         0.0973 %
2014-03-14 03:32:40         0.0973 %
2013-11-19 02:17:31         0.0876 %
2017-02-23 02:58:33         0.0778 %

Top 5 represent 0.5% of rows.
11.8% of rows are null

                    MOST_RECENT_BILLING
2014-01-21 03:44:31            0.0778 %
2016-10-12 11:07:49            0.0681 %
2017-03-29 10:53:27            0.0681 %
2016-05-05 06:33:26            0.0681 %
2015-01-01 06:08:14            0.0584 %

Top 5 represent 0.3% of rows.
11.8% of rows are null

                             DEPT_NAME
UVA-CLEARFIELD-PATHOLOGYLAB  60.1129 %
UVA-CLEARFIELD MAIN OFFICE   23.7377 %
UVA-PENINSULA-MAIN OFFICE     6.8684 %
UVA-PORTSMOUTH-MAIN OFFICE    3.4147 %
UVA-CLEARFIELD-GENERALLAB     2.5002 %

Top 5 represent 96.6% of rows.
No rows are null

                    TCN
0216271048620  0.0681 %
0217073046400  0.0681 %
217950542      0.0681 %
0215124130870  0.0584 %
N1403635266    0.0584 %

Top 5 represent 0.3% of rows.
13.8% of rows are null

               SUPERVISING_FULLNAME
LIN, JEFFERSON            60.0253 %
LASATER, JOHN              5.0589 %
YOUNG, JAMES               2.2278 %
RAWLS, WILLIAM             2.1987 %
EURE, GREGG                2.1403 %

Top 5 represent 71.7% of rows.
No rows are null

               RENDERING_FULLNAME
LIN, JEFFERSON          60.0545 %
LASATER, JOHN            4.0179 %
YOUNG, JAMES             1.9652 %
EURE, GREGG              1.9263 %
RAWLS, WILLIAM           1.8095 %

Top 5 represent 69.8% of rows.
No rows are null

                 REFERRING_FULLNAME
EURE, GREGG                3.0256 %
YOUNG, JAMES               2.1889 %
ROSENFELD, BRUCE           1.9749 %
SANDERS, KEVIN             1.7122 %
LAMBERT, JACK              1.6149 %

Top 5 represent 10.5% of rows.
33.1% of rows are null

             SUPERVISING_NAME
LINJ_UVA            60.0253 %
LASATERJ_UVA         5.0589 %
YOUNGJ_UVA           2.2278 %
RAWLSW_UVA           2.1987 %
EUREG_UVA            2.1403 %

Top 5 represent 71.7% of rows.
No rows are null

             RENDERING_NAME
LINJ_UVA          60.0545 %
LASATERJ_UVA       4.0179 %
YOUNGJ_UVA         1.9652 %
EUREG_UVA          1.9263 %
RAWLSW_UVA         1.8095 %

Top 5 represent 69.8% of rows.
No rows are null

                 REFERRING_NAME
EURE, GREGG            3.0256 %
YOUNG, JAMES           2.1889 %
ROSENFELD, BRUCE       1.9749 %
SANDERS, KEVIN W       1.7122 %
LAMBERT, JACK          1.6149 %

Top 5 represent 10.5% of rows.
33.1% of rows are null

           STATUS1
CLOSED   99.1828 %
BILLED    0.7783 %
MGRHOLD   0.0195 %
HOLD      0.0195 %

Top 5 represent 100.0% of rows.
No rows are null

            STATUS2
CLOSED    99.3579 %
BILLED     0.4378 %
MGRHOLD    0.0778 %
CBOHOLD    0.0486 %
OVERPAID   0.0389 %

Top 5 represent 100.0% of rows.
No rows are null

           STATUSP
CLOSED   97.9959 %
BILLED    1.2355 %
COLLECT   0.3891 %
DROP      0.3794 %

Top 5 represent 100.0% of rows.
No rows are null

       PROCEDURE
88305  45.1989 %
88302   8.9503 %
36415   6.7322 %
99214   3.7552 %
88112   2.7143 %

Top 5 represent 67.4% of rows.
No rows are null

      PROCEDURE_CATEGORY
Other          98.5991 %
Drug            1.3912 %
Fake            0.0097 %

Top 5 represent 100.0% of rows.
No rows are null

                                  IRC1
Medicare B-VA [300]          42.7765 %
BCBS-VA [155]                26.4714 %
Sentara Health [462]         15.1571 %
Champus/Tricare PGBA [1112]   5.1075 %
Humana [237]                  2.8213 %

Top 5 represent 92.3% of rows.
No rows are null

                               GOVERNMENTFUNDEDTYPE1
Medicare                                   43.2338 %
TRICARE                                     5.1270 %
Medicare Replacement/Advantage              4.0860 %
Medicaid Replacement                        1.1577 %
Medicaid                                    0.2821 %

Top 5 represent 53.9% of rows.
46.1% of rows are null

                                  IRC2
BCBS-VA [155]                13.2795 %
Champus/Tricare WPS [1113]   10.9544 %
AARP [561]                    5.5258 %
Medicaid-VA [262]             2.4030 %
Champus/Tricare PGBA [1112]   1.7609 %

Top 5 represent 33.9% of rows.
55.5% of rows are null

                               GOVERNMENTFUNDEDTYPE2
TRICARE                                    12.7250 %
Medicaid                                    2.4127 %
Medicare                                    1.0312 %
Medicare Replacement/Advantage              0.0584 %
CHAMPVA                                     0.0195 %

Top 5 represent 16.2% of rows.
83.8% of rows are null

                  UNITS_SEEM_HIGH
Unclear                 64.8799 %
N Units Seem High       34.3224 %
Y Units Seem High        0.7977 %

Top 5 represent 100.0% of rows.
No rows are null

                 INTERFACEVENDORID
ORCHARD::EMRFULL         62.6131 %
CONNECTCARE              37.3869 %

Top 5 represent 100.0% of rows.
No rows are null


+----------------------+
+ Continuous Variables +
+----------------------+

+---------------------------------------------------------+
+ Rows with high percentile values and/or rare categories +
+---------------------------------------------------------+

,CONTEXTID,CLAIM,PARENTCHARGEID,CLAIM_CREATED,CLAIM_DOS,EARLIEST_BILLING,MOST_RECENT_BILLING,DEPT_NAME,DEPT_ID,TCN,...,COLLECTIONS_AGENCY,ADJUSTMENTS,VOIDED_YN,CPT_CHANGED_YN,REMITTANCE_YN,DENIAL_YN,UNITS_RULE_YN,UNITS_SEEM_HIGH,ANY_HOLD,INTERFACEVENDORID
9244,7242,648101v7242,7333060,2017-04-05 22:11:24,2017-04-05 00:00:00,2017-04-22 02:56:36,2017-04-22 02:56:36,UVA-CLEARFIELD MAIN OFFICE,8,0217114028430,...,0.0,0.0,0,1,1,1,0,N Units Seem High,1,CONNECTCARE
9260,7242,659624v7242,7365898,2017-04-25 22:05:02,2017-04-25 00:00:00,2017-04-28 03:04:35,2017-04-28 03:04:35,UVA-PENINSULA-MAIN OFFICE,33,NaN,...,0.0,0.0,1,0,0,0,0,N Units Seem High,1,CONNECTCARE
9371,7242,659221v7242,7349512,2017-04-24 22:17:19,2017-04-21 00:00:00,2017-04-25 02:47:37,2017-04-25 02:47:37,UVA-CLEARFIELD MAIN OFFICE,8,0217115025390,...,0.0,0.0,0,0,0,0,0,N Units Seem High,0,CONNECTCARE
9363,7242,659628v7242,7365897,2017-04-25 22:05:09,2017-04-25 00:00:00,2017-04-28 03:04:32,2017-04-28 03:04:32,UVA-PENINSULA-MAIN OFFICE,33,NaN,...,0.0,0.0,1,0,0,0,0,N Units Seem High,1,CONNECTCARE
9297,7242,655465v7242,7313975,2017-04-18 17:17:19,2017-04-06 00:00:00,2017-04-19 03:18:53,2017-04-19 03:18:53,UVA-CLEARFIELD-PATHOLOGYLAB,10,1710910369463310719,...,0.0,0.0,0,0,0,0,0,N Units Seem High,0,ORCHARD::EMRFULL